.container-brand {
    max-width: 1130px !important;
    margin: 0 auto;
    display: table;
    margin-top: 0px;
    padding-top: 7px;
    width: inherit;
    padding-left: 20px;
    padding-right: 20px;
    float:left;
}

.logo {
    display: inline-block;
    width: 10px; height: 10px;
    position: relative;
}
